body {
    background-image: url(bgcolor.png);
    font-size:  0.8em;
}

main {
    background-color: #F0EFE2;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    display: block;
    width: 90%;
    
    
}

h2 {
    margin-left: 10px;
    font-size: small;
    padding-top: 15px;
}

.menu-bar {
    background-color: darkslategray;
}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
    float: left;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
}

.menu-bar ul li {
        list-style: none;
        float: left;
        margin: 0 0 6px 0;
        padding: 0 0 4px 5px;
        display: list-item;
        text-align: -webkit-match-parent;
 
}

.menu-bar ul li a {
    letter-spacing: 0.1em;
    font-size: 8px;
    display: block;
    float: left;
    height: 17px;
    margin: 10px 5px 0 5px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #107369;
}

#page {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 0 24px 20px 20px;
  
}

#photo {
    width: 18vw;
    height: 16vh;
}

#links a {
    text-decoration: none;
    color: darkslategray;
}

#side-content {
    float: right;
    width: 40vw;
    padding: 15px 15px 20px 15px;
    background-color: #F0EFE2;
}

#content {
    text-align: left;
    float: left;
    width: 50vw;
    padding: 0;
}

footer {
    font-size: 1em;
    height: 25px;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #fff;
    letter-spacing: 0.1em;
    background: darkslategray;
    
}